body, html {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    box-sizing: border-box;
    color: gold;
    position: relative;
}

.star_war {
    position: absolute;
    width: 26em;
    height: 30em;
    bottom: 0;
    left: 50%;
    margin-left: -13em;
    font-size: 350%;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(20deg);
}

.star_war:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;

}

.title {
    text-align: center;
}

.s_w_content {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 1s infinite;
    font-size: 80px;
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -10%; }
}
